.cursor {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

.circle {
    background-color: gray;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}
