.cursor {
    /* background-color: white; */
    /* background-image: url('../public/hand.svg'); */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;

    z-index: 99;
}

